.card-group{
    transition: all 0.5s ease-in-out;
}

.card{
    margin-left:30px;
    margin-right:30px;
    padding-left:30px;
    padding-right:30px;
}

.card-img-top{
    padding-top:30px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding-top: 16px;  
}

div div div a{
    text-decoration: none;
    font-size: 16px;
    color: #7cc5da;
}
div div div a:hover{
    color: #21cbfa;
}
div div div a:active{
    color: #000;
}

.project3{
    opacity: 0;
}

.hide{
    opacity: 0;
}
.activeShow{
    opacity: 1;
}